<launch>
	<!-- set camera parameter -->
    <node pkg="jenga_calibrate" type="set_camera_parameter.sh" name="set_camera_parameter" />

	<!-- launch camera -->
	<node pkg="usb_cam" type="usb_cam_node" name="camera">
		<param name="video_device" type="string" value="/dev/video0" />
		<param name="pixel_format" type="string" value="yuyv" />
		<param name="image_width" type="int" value="1920" />
		<param name="image_height" type="int" value="1080" />
		<param name="autofocus" type="boolean" value="false" />
	</node>

	<!-- calibration -->
	<node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" 
		args="--size 9x6 --square 0.02 image:=/camera/image_raw camera:=/camera">
	</node>
	
</launch>
